@model DetailFormViewModel

        <div class="mb-3">
            <label asp-for="Patient.FirstName" class="form-label"></label>
            <input asp-for="Patient.FirstName" class="form-control" placeholder="First Name" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.FirstName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Patient.LastName" class="form-label"></label>
            <input asp-for="Patient.LastName" class="form-control" placeholder="Last Name" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.LastName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Patient.MiddleInitial" class="form-label"></label>
            <input asp-for="Patient.MiddleInitial" class="form-control" placeholder="Middle Initial" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.MiddleInitial"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Patient.Address1" class="form-label"></label>
            <input asp-for="Patient.Address1" class="form-control" placeholder="Address 1" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.Address1"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Patient.Address2" class="form-label"></label>
            <input asp-for="Patient.Address2" class="form-control" placeholder="Address 2" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.Address2"></span>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <div class="mb-3 w-100">
                <label asp-for="Patient.City" class="form-label"></label>
                <input asp-for="Patient.City" class="form-control" placeholder="City" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.City"></span>
            </div>
            <div class="mb-3 w-100">
                <label asp-for="Patient.State" class="form-label"></label>
                <input asp-for="Patient.State" class="form-control" placeholder="State" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.State"></span>
            </div>
            <div class="mb-3 w-100">
                <label asp-for="Patient.ZipCode" class="form-label"></label>
                <input asp-for="Patient.ZipCode" class="form-control" placeholder="Zip Code" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.ZipCode"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <div class="mb-3 w-100">
                <label asp-for="Patient.HomePhone" class="form-label"></label>
                <input asp-for="Patient.HomePhone" class="form-control" placeholder="Home Phone" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.HomePhone"></span>
            </div>
            <div class="mb-3 w-100">
                <label asp-for="Patient.BusinessPhone" class="form-label"></label>
                <input asp-for="Patient.BusinessPhone" class="form-control" placeholder="Business Phone" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.BusinessPhone"></span>
            </div>
            <div class="mb-3 w-100">
                <label asp-for="Patient.CellPhone" class="form-label"></label>
                <input asp-for="Patient.CellPhone" class="form-control" placeholder="Cell Phone" disabled=@Model.isNotEditable />
                <span class="text-danger" asp-validation-for="Patient.CellPhone"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Patient.EmailAddress" class="form-label"></label>
            <input asp-for="Patient.EmailAddress" class="form-control" placeholder="Email Address" disabled=@Model.isNotEditable />
            <span class="text-danger" asp-validation-for="Patient.EmailAddress"></span>
        </div>
        
    


