@model Patient


<div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
    <span class="text-danger" asp-validation-for="FirstName"></span>
</div>
<div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" placeholder="Last Name"  />
    <span class="text-danger" asp-validation-for="LastName"></span>
</div>
<div class="mb-3">
    <label asp-for="MiddleInitial" class="form-label"></label>
    <input asp-for="MiddleInitial" class="form-control" placeholder="Middle Initial" />
    <span class="text-danger" asp-validation-for="MiddleInitial"></span>
</div>
<div class="mb-3">
    <label asp-for="Address1" class="form-label"></label>
    <input asp-for="Address1" class="form-control" placeholder="Address 1"  />
    <span class="text-danger" asp-validation-for="Address1"></span>
</div>
<div class="mb-3">
    <label asp-for="Address2" class="form-label"></label>
    <input asp-for="Address2" class="form-control" placeholder="Address 2" />
    <span class="text-danger" asp-validation-for="Address2"></span>
</div>
<div class="d-flex justify-content-center gap-3">
    <div class="mb-3 w-100">
        <label asp-for="City" class="form-label"></label>
        <input asp-for="City" class="form-control" placeholder="City" />
        <span class="text-danger" asp-validation-for="City"></span>
    </div>
    <div class="mb-3 w-100">
        <label asp-for="State" class="form-label"></label>
        <input asp-for="State" class="form-control" placeholder="State" />
        <span class="text-danger" asp-validation-for="State"></span>
    </div>
    <div class="mb-3 w-100">
        <label asp-for="ZipCode" class="form-label"></label>
        <input asp-for="ZipCode" class="form-control" placeholder="Zip Code" />
        <span class="text-danger" asp-validation-for="ZipCode"></span>
    </div>
</div>
<div class="d-flex justify-content-center gap-3">
    <div class="mb-3 w-100">
        <label asp-for="HomePhone" class="form-label"></label>
        <input asp-for="HomePhone" class="form-control" placeholder="Home Phone" />
        <span class="text-danger" asp-validation-for="HomePhone"></span>
    </div>
    <div class="mb-3 w-100">
        <label asp-for="BusinessPhone" class="form-label"></label>
        <input asp-for="BusinessPhone" class="form-control" placeholder="Business Phone" />
        <span class="text-danger" asp-validation-for="BusinessPhone"></span>
    </div>
    <div class="mb-3 w-100">
        <label asp-for="CellPhone" class="form-label"></label>
        <input asp-for="CellPhone" class="form-control" placeholder="Cell Phone" />
        <span class="text-danger" asp-validation-for="CellPhone"></span>
    </div>
</div>
<div class="mb-3">
    <label asp-for="EmailAddress" class="form-label"></label>
    <input asp-for="EmailAddress" class="form-control" placeholder="Email Address"/>
    <span class="text-danger" asp-validation-for="EmailAddress"></span>
</div>





