
@model Patient
@{
    ViewData["Title"] = "Edit Patient Data";
}

<div class="container d-flex flex-column align-items-center">
    <h1>Edit Patient</h1>
    <form class="text-start w-50" asp-action="UpdatePatient" asp-route-patientId=@Model.PatientKey asp-controller="Home" method="post">
        @await Html.PartialAsync("_EditDetailForm")
        <div class="text-end">
            <button type="submit" class="btn btn-primary w-25">Save</button>
            <a href="/" class="btn btn-danger w-25">Exit</a>
        </div>
    </form>
</div>

